@each $key, $value in $buttons {
  #{$key} {
    font-weight: map-get($value, font-weight);
    font-size: map-get($value, font-size);
    line-height: map-get($value, line-height);
    font-family: map-get($value, font-family);
  }
}

.c-button {
  border-radius: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 1.96px;
  text-align: center;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
