.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin: 0px -25px;
    list-style-type: none;
  }

  &__menu-item {
    margin: 0 25px;
  }

  &__menu-link {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1.96px;
    color: palette(secondary, 100);
    transition: all 0.3s;
    position: relative;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: palette(secondary, 100);
      left: 0;
      bottom: -5px;
      opacity: 0;
      transition: all 0.3s;
    }

    &::before {
      content: url('../../img/star.svg');
      position: absolute;
      left: -30px;
      opacity: 0;
      transition: all 0.3s;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      &::after,
      &::before {
        opacity: 1;
      }
    }
  }

  &__controllers {
    display: flex;
    align-items: center;
  }

  &__account {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1.96px;
    color: palette(secondary, 100);
    transition: all 0.3s;
    text-transform: uppercase;
    margin-right: 25px;
  }
}
