.merch {
  background-color: palette(primary, 200);
  padding-top: 88px;
  padding-bottom: 58px;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 58px;
  }

  &__title-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: palette(secondary, 100);
  }

  &__content {
    background-color: palette(primary);
  }

  &__comp {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 20px;
  }

  &__google-img,
  &__shopify-img {
    margin: 0 auto;
    margin-bottom: 22px;
  }

  &__google-review,
  &__shopify-review {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 1px;
    height: 70px;
    background-color: palette(primary, 200);
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: 56px 0;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review-image {
    display: flex;
  }

  &__review-info {
    max-width: 405px;
    margin: 0 auto;
  }

  &__text-info {
    font-size: 24px;
    line-height: 1.3;
    color: palette(secondary, 100);
    padding-bottom: 12px;
  }

  &__review-human {
    display: flex;
    align-items: center;
  }

  &__human-image {
    margin-right: 20px;
  }

  &__human-text {
    margin-right: 10px;
  }

  &__human-title {
    font-size: 18px;
    line-height: 1.2;
    color: palette(secondary, 100);
    margin-bottom: 4px;
  }

  &__human-subtitle {
    font-size: 15px;
    line-height: 1.7;
    color: palette(primary, 300);
  }

  &__human-link {
    margin-left: auto;
  }

  &__human-btn {
    color: palette(blue, base);
    background-color: palette(primary, 100);
    font-weight: 400;
    width: 160px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid palette(primary, 100);
    transition: all 0.3s;
    &:hover {
      color: palette(primary, 100);
      background-color: palette(blue, base);
      border: 1px solid palette(blue, base);
    }
  }
}
